[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "fast-syntax-highlighting"]
	path = fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule "zsh-completions"]
	path = zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh-autopair"]
	path = zsh-autopair
	url = https://github.com/hlissner/zsh-autopair
[submodule "fzf-tab"]
	path = fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
